<div  *ngFor="let project of projects">  
  <div class="col-md-6 col-sm-12 col-xs-12">
    <figure class="effect">
      <img [src]="project.projectImageLink" [alt]="project.projectTitle">

      <figcaption>
        <h3>{{project.projectTitle}}</h3>
        <p>{{project.projectDescription}}</p>
        <p><strong>Tags:</strong> <br>{{project.skillsList}}</p>
        <a [href]="project.projectLink" target="_blank">View more</a>
        <span class="icon">
            <span class="glyphicon glyphicon-new-window"></span>
          </span>
      </figcaption>
    </figure>
  </div>
</div>
