<div class="col col-md-6">
  <div class="link col col-xs-12">
    <a href="{{userInfo.twitterAddress}}" target="_blank">
      <span class="icon icon-twitter"></span>
      {{userInfo.twitterAccount}}</a>
  </div>
  <div class="link col col-xs-12">
    <a href="{{userInfo.linkedinAddress}}" target="_blank">
      <span class="icon icon-linkedin"></span>
      {{userInfo.linkedinAccount}}</a>
  </div>
</div>
<div class="col col-md-6">
  <div class="link col col-xs-12">
    <a href="mailto:calebematos@gmail.com">
      <span class="icon icon-email"></span>
      <span >
						calebematos@gmail.com</span>
    </a>
  </div>
</div>
