<div class="col col-md-6">
  <div class="link col col-xs-12">
    <a href="http://twitter.com/calebematos" target="_blank">
      <span class="icon icon-twitter"></span>
      http://twitter.com/calebematos</a>
  </div>
  <div class="link col col-xs-12">
    <a href="http://linkedin.com/in/calebematos/en" target="_blank">
      <span class="icon icon-linkedin"></span>
      http://linkedin.nl/in/calebematos/en/</a>
  </div>
</div>
<div class="col col-md-6">
  <div class="link col col-xs-12">
    <a href="mailto:calebematos@gmail.com">
      <span class="icon icon-email"></span>
      <span >
						calebematos@gmail.com</span>
    </a>
  </div>
</div>
