<div  *ngFor="let ability of finalList">  
    <hr>
  <h3>{{ability.title}}</h3>
  <div class="row">
    <div  *ngFor="let skill of ability.skills">
      <div class="col-md-6">
        <ul class="no-bullets">
          <li>
            <span class="ability-title">{{ skill.name }}</span>
            <span class="ability-score">
              <span [ngClass]="skill['proficiency'] >= 1 ? 'glyphicon glyphicon-star filled': 'glyphicon glyphicon-star'"></span>
              <span [ngClass]="skill['proficiency'] >= 2 ? 'glyphicon glyphicon-star filled': 'glyphicon glyphicon-star'"></span>
              <span [ngClass]="skill['proficiency'] >= 3 ? 'glyphicon glyphicon-star filled': 'glyphicon glyphicon-star'"></span>
              <span [ngClass]="skill['proficiency'] >= 4 ? 'glyphicon glyphicon-star filled': 'glyphicon glyphicon-star'"></span>
              <span [ngClass]="skill['proficiency'] >= 5 ? 'glyphicon glyphicon-star filled': 'glyphicon glyphicon-star'"></span>
            </span>
          </li>
        </ul>
      </div>
    </div>
</div>
</div>

